@use "../components/" as c;

.hero {
  background-image: url(/assets/background-image/negative-space-black-forest-dawn.jpg);
  background-position: center;
  background-size: cover;
  color: c.$primaryColor;
  font-size: 25px;
  text-align: center;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
    padding: 0px 25px;
    @include c.small {
      margin-top: 17%;
    }
    &__title {
      padding: 0px 15px;
      font-size: 32px;
    }
    &__text {
      padding: 0px 15px;
    }
  }
  &__link-arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    height: 35vh;
    &--icon {
      color: c.$primaryColor;
      margin-bottom: 2.5em;
    }
  }
}
