// Primary color
$primaryColor: white;
$seconadaryColor: black;

// Background colors
$primaryBgColor: white;
$seconadaryBgColor: black;
$thirdBgColor: lightgrey;

// Opacity colors
$primaryOpacityColor: rgba(255, 255, 255, 0.1);
